* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
}

#timer {
  padding: 0 0 3% 0;
  font-weight: 700;
}

.questions {
  background: #fff;
  width: 90%;
  max-width: 40%;
  max-height: 100%;
  margin: 5% auto 0;
  padding: 2% 2% 5% 2%;
  box-shadow: 0px 0px 20px #380f42;
  border-radius: 30px;
}

.quiz {
  padding: 20px 0;
}

.btn {
  background-color: #667eea;
  font-weight: 700;
  color: #f4f0f0;
  width: 100%;
  border-radius: 3px;
  padding: 2%;
  margin: 2% 0;
  text-align: left;
  font-size: 100%;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  box-shadow: 3px 3px 6px #380f42;
}

.button-container {
  display: flex;
  gap: 2%;
}

#finished-btn {
  background-color: #a1196c;
  color: #fff;
  font-weight: 900;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#finished-btn:hover {
  color: #100547;
  border: none;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
}

.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
  box-shadow: 3px 3px 6px #a1196c;
}

.btn:disabled {
  cursor: no-drop;
}

#answer-buttons {
  padding: 0 0 3% 0;
}

#next-btn {
  background-color: #a1196c;
  color: #fff;
  border: none;
  float: right;
  cursor: pointer;
  display: none;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
  border-radius: 30px;
  padding: 2% 3% 2% 3%;
  font-size: 100%;
  box-shadow: 3px 3px 6px #380f42;
}

.correct {
  background: lime;
}

.incorrect {
  background: red;
}
.navbar-transparent {
  background-color: transparent !important;
}

ul.navbar-nav {
  margin-right: auto;
  position: fixed;
  top: 0;
}

#startQuiz-nav {
  color: #a1196c;
  font-weight: 600;
}

#startQuiz-nav:hover {
  color: #100547;
  font-weight: 600;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
  padding: 1% 0 3% 0;
}
/* Media query for mobile screens */
@media (max-width: 767px) {
  .container {
    max-width: 90%;
    max-height: 100%;
    padding: 0 20px 30px 20px;
  }

  .melsoft-logo {
    width: 60%;
  }
}
.melsoft-logo {
  width: 80px;
}

p {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
