body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-attachment: fixed;
}

.container {
  display: block;
  margin: 5% auto;
  padding: 1% 2% 2% 2%;
  max-width: 60%;
  max-height: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: 0px 0px 20px #380f42;
  border-radius: 30px;
  border: 3px solid #100547;
}

h2 {
  color: #100547;
  text-align: center;
  text-shadow: 1px 1px 4px #c8c8c8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 190%;
}

.play-button {
  position: relative;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  background-color: #9a1c9e;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  animation: glowing 1.5s infinite;
  border: none;
  color: transparent;
  margin: 0 auto;
}

.play-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 0;
  height: 0;
  border-top: 24px solid transparent; /* Increase the size of the top and bottom borders */
  border-bottom: 24px solid transparent; /* Increase the size of the top and bottom borders */
  border-right: 42px solid #100547; /* Increase the size of the right border and set the background color and opacity */
  opacity: 50%;
}

@keyframes glowing {
  0% {
    background-color: #a1196c;
    box-shadow: 0 0 5px #a1196c;
  }
  50% {
    background-color: #fcfefe;
    box-shadow: 0 0 20px #fcfefe;
  }
  100% {
    background-color: #a1196c;
    box-shadow: 0 0 5px #a1196c;
  }
}

.play-button:hover {
  background-color: #9a1c9e;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  animation: none;
  text-shadow: 0 0 10px #fcfefe;
}

.play-button:hover::before {
  display: none;
}

/* Images */
#melsoft-logo {
  display: block;
  margin: 0 auto;
  width: 40%;
  padding: 5%;
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .container {
    max-width: 90%;
    max-height: 100%;
    padding: 0 15px; /* Adjust the padding as per your needs */
  }

  #melsoft-logo {
    width: 60%;
    margin: 60px auto;
  }

  .play-button:before {
    top: 52%;
    border-top: 16px solid transparent; /* Increase the size of the top and bottom borders */
    border-bottom: 16px solid transparent; /* Increase the size of the top and bottom borders */
    border-right: 32px solid #100547; /* Increase the size of the right border and set the background color and opacity */
  }

  .play-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
  }

  h2 {
    font-size: 130%;
  }
}
